* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html { scroll-behavior: smooth; }

body { min-height: 100vh; }

.main-section {
    margin-bottom: 40vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px;
}

a:visited { color: #222; }

a {
    text-decoration: none;
}

.container { color: white; }

.container .image {
    background: url(../images/screen-6.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.detail {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 60px;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 30px -20px;
}

.logo {
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 0px 8px;
    display: flex;
    align-items: center;
}

.logo img { width: 200px; }

.main-menu {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-grow: 1;
}

.main-menu li {
    padding: 20px 15px;
    margin: 0px 5px;
    text-transform: uppercase;
}

.has-submenu {
    position: relative;
    color: #000;
}

.sub-menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 21px;
    width: 200px;
}

.sub-menu li {
    padding: 10px 20px;
    color: black;
    cursor: pointer;
    transition: all 0.1s;
}

.has-submenu:hover .sub-menu { display: block; }

.has-submenu:hover {
    border-top: 3px solid rgb(0, 75, 161);
    padding-top: 17px;
}

.sub-menu li:hover { color: rgb(0, 80, 155); }

.icon-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: all 0.1s;
}

.icon-header i {
    font-size: 20px;
    margin: 2px 0px;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
}

.icon-header span {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.icon-header:hover { background-color: rgb(78, 144, 219); }

.nav-bar {
    width: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
    background-color: white;
}

.nav-bar i {
    font-size: 25px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: -100px;
}

.main-text h1 {
    font-size: 45px;
    margin-bottom: 8px;
}

.main-text p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
}

.option {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px 0px;
    height: 150px;
}

.component {
    border: 1px solid #fff;
    margin: 0px 10px;
    height: 90px;
    width: 200px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.4s;
}

.component .text p:nth-child(1) {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
}

.component .text p:nth-child(2) {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
}

.component .icon i {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
}

.component:hover {
    background-color: rgb(0, 50, 124);
    height: 110px;
}

.main {
    height: 100vh;
    width: 100%;
    position: relative;
}

.background {
    position: absolute;
    background-color: #eee;
    width: 65%;
    height: 100%;
}

.background-2 {
    position: absolute;
    right: 0px;
    background-color: #fff;
    width: 35%;
    height:100%;
}

.layer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    height: 70%;
    background-color: #eee;
    display: flex;
    position: relative;
}

.img-main {
    width: 100%;
    height: 100%;
    background: url(../images/987888.jpg) no-repeat;
    background-size: cover;
}

.box-content {
    width: 60%;
    position: absolute;
    bottom: 10%;
    left: 0px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.info {
    height: 100%;
    background-color: #eee;
    width: 50%;
    padding: 15px;
}

.info h1 {
    font-size: 45px;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
}

.info h4 {
    font-weight: lighter;
    font-size: 18px;
}

.box-content h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 30px;
}

.box-content p {
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 17px;
}

.read-more {
    padding: 10px 20px;
    border: 1px solid #222;
    float: right;
    color: #222;
    text-transform: capitalize;
    cursor: pointer;
}

.read-more:hover {
    background-color: rgb(0, 106, 167);
    color: #fff;
    font-weight: bolder;
    padding: 10px 19px;
}

.catalog {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-bg {
    position: absolute;
    right: 0px;
    background-color: #eee;
    width: 35%;
    height: 100%;
}

.catalog-bg2 {
    position: absolute;
    left: 0px;
    background-color: #fff;
    width: 65%;
    height:100%;
}

.catalog .layer {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
}

.catalog-title {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    z-index: 100;
}

.catalog-title .text { flex-grow: 1; }

.catalog-title .text h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.catalog-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-btn span{
    color: #222;
    padding: 10px 20px;
    border: 1px solid #222;
    cursor: pointer;
}

.catalog-btn span:hover {
    background-color: rgb(0, 106, 167);
    color: #fff;
    font-weight: bolder;
    padding: 10px 19px;
}

.catalog-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-component {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5);
}

.catalog-img1 {
    background: url(../images/112100.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
}

.catalog-img2 {
    background: url(../images/images.jpeg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
}

.catalog-img3 {
    background: url(../images/fa637a53db5732b2749add03bc81647a.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
}

.component-detail {
    height: 50%;
    padding: 15px;
    background-color: #666;
}

.component-detail h3 {
    font-weight: lighter;
    font-size: 18px;
    margin-top: 5px;
    color: white;
}

.component-detail p { color: white; }

.component-detail div {
    position: absolute;
    right: 0px;
    bottom: 20px;
    padding: 5px 40px 5px 0px;
    border-bottom: 1px solid white;
    color: white;
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

.component-detail div:hover {
    color: rgb(0, 50, 124);
    border-bottom: 2px solid rgb(0, 50, 124);
}

.notice {
    height: 100vh;
    width: 100%;
    position: relative;
}

.notice-img {
    height: 50%;
    width: 100%;
    background: url(../images/419fe3784c01c9219643730e9d68017d.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice-bg {
    position: absolute;
    bottom: 0px;
    height: 50%;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.notice .text { padding: 60px 60px 80px 60px; }

.notice .text h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.notice .text p {
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.notice-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px 70px;
    background-color: white;
    z-index: 100;
    position: relative;
}

.notice-component {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #888;
    padding: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.notice-component .number { padding: 0px 10px; }

.notice-component .number h1 {
    font-weight: 400;
    text-align: center;
    color: #888;
    transition: all 0.5s;
}

.notice-component .number p {
    text-align: center;
    text-transform: capitalize;
}

.notice-component-detail {
    padding: 0px 20px;
    flex-grow: 1;
}

.notice-component .button {
    border: 2px solid #888;
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.notice-component .button:hover { border: 2px solid rgb(0, 79, 143); }

.notice-component .button:hover i { color: rgb(0, 79, 143); }

.notice-component:hover { border-bottom: 1px solid rgb(0, 79, 143); }

.notice-component:hover .number h1 { color: rgb(0, 79, 143); }

.last-btn {
    color: #222;
    padding: 10px 20px;
    border: 1px solid #222;
    text-transform: capitalize;
    z-index: 1000;
    margin-bottom: 20px;
    cursor: pointer;
}

.last-btn:hover {
    background-color: rgb(0, 106, 167);
    color: #fff;
    font-weight: bolder;
    padding: 10px 19px;
}

.footer {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    z-index: -100;
}

.footer p {
    color: #111;
    margin: 8px;
    text-align: center;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 50px;
    padding: 18px;
    z-index: 1000;
    background-color: rgb(48, 89, 122);
    border: none;
    outline: none;
    cursor: pointer;
}

.scroll-to-top i {
    font-size: 18px;
    color: white;
}